---
---

@import "{{ site.theme }}";

// Theme Overrides

hr { margin: 50px 0; }

blockquote {
	margin: 50px 0;
	padding: 50px;
	background-color: #eee; 
}

.site-nav { display: none; }

.rss-subscribe,
.post-list-heading,
.post-meta { display: none; }

.site-title {
	font-size: 18px;
	font-weight: 400;
}

.post-title { font-size: 36px; }
.u-email { display: none; }

.site-header { 
	position: sticky;
	top: 0;
	background-color: #fff;
	border-top: none;
}

.post-list {
	display: flex;
	flex-direction: column;

	h3 { margin: 0; }

	li { 
    display: flex;
    align-items: center; 
		padding: 12.5px;

		&:before {
			content: "";
			display: block;
			width: 12.5px;
			height: 12.5px;
			margin-right: 12.5px;
			border-radius: 50%;
			background-color: #eee;
		}
	}
}